extends layout



block content
  h1= title
  p Welcome to #{title}
  p Aparna Dondapati 
  - var result = Ani_results
  div.container-fluid
     div(class="row m-1")
        each item,index in result
            -let destination = `dispatch(\"/resource/update?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") Animal Color : #{item["animal_color"]}  <br>  Animal Type : #{item["animal_Type"]} <br>Animal Age : #{item["animal_age"]}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
     function dispatch(path){
        window.location.href=path
     }
      
