extends layout
block content
 h1= title
 - let animalid = toShow._id
 - let animal_color = toShow.animal_color
 - let animal_Type = toShow.animal_Type
 - let animal_age = toShow.animal_age
 div
 div.row
 div(class='animalAttr mr-3') animal ID is:
 div #{animalid}
 div.row
 div(class='animalAttr mr-3') animal Color is:
 div #{animal_color}
 div.row
 div(class='animalAttr mr-3') animal Type is:
 div #{animal_Type}
 div.row
 div(class='animalAttr mr-3') animal age is:
 div #{animal_age}
