extends layout



block content
  h1= title
  p Welcome to #{title}
  p Aparna Dondapati 
  - var result = Ani_results
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Animal Color : #{item["animal_color"]}  <br>  Animal Type : #{item["animal_Type"]} <br>Animal Age : #{item["animal_age"]}
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      
